:host {
      display: grid;
      grid-template-rows: 10% 70% 20%; /* 15% header, remaining space split between middle and bottom */
      height: 100vh;
    }

    h1 {
      background-color: #f0f0f0;
      display: flex;
      justify-self: center;
      border-bottom: 1px solid #ccc;
      grid-row: 1;
    }

    #content {
      display: grid;
      grid-row: 2;
      grid-template-rows: 1fr auto; /* Middle and bottom sections */
      grid-template-columns: 30% 70%; /* Table and buttons split */
    }

    #table {
      overflow-y: auto;
      border: 1px solid #ccc;
      padding: 16px;
      margin: 10px;
      width: 80%
    }

    table{
      width: 100%;
      border: 2px solid black;
      border-collapse: collapse;
    }

    table.scrolldown { 
      width: 100%; 
        
      /* border-collapse: collapse; */ 
      border-spacing: 0; 
      border: 2px solid black; 
  } 
    
  /* To display the block as level element */ 
  table.scrolldown tbody, table.scrolldown thead { 
      display: block; 
  }  
    
  thead tr th { 
      height: 40px;  
      line-height: 40px; 
  } 
    
  table.scrolldown tbody { 
        
      /* Set the height of table body */ 
      height: 50px;  
        
      /* Set vertical scroll */ 
      overflow-y: auto; 
        
      /* Hide the horizontal scroll */ 
      overflow-x: hidden;  
  } 
    
  tbody {  
      border-top: 2px solid black; 
  } 
    
  tbody td, thead th { 
      width : 200px; 
      border-right: 2px solid black; 
  } 
  td { 
      text-align:center; 
      border: 1px solid;

  } 

  th{
    border: 1px solid;

  }

  #buttons-and-sliders{
    display: grid;
    grid-row: 3;
    grid-template-columns: 30% 70%
    
    
  }

    #buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      padding: 1px;
      
    }

    #slidecontainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 1px;
    }
    
    #slider {
      -webkit-appearance: none;
      width: 70%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
      display: flex;
      justify-self: center;
    }
    
    #slider:hover {
      opacity: 1;
    }
    
    #slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #04AA6D;
      cursor: pointer;
    }
    
    #slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #04AA6D;
      cursor: pointer;
    }

    .disabled {
      pointer-events: none;
      opacity: 0.5; /* You can adjust the opacity or add other styles for the disabled look */
    }

    #dotGraph {
      border: 1px solid #ccc;
      grid-row: 4;
      justify-content: center;
      display: flex;
      justify-self: center;
    }

    challenge-chart{
      display: flex;
      align-self: center;
    }

    
    